$primary: #ADC178;
$secondary: #F0EAD2;
$dark:#432818;
$black: #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

//-----------------------BigTitle-----------------------------
.home-intro{
    text-align: center;
    margin-top: 139px;
}
//-----------------------BigTitle-----------------------------

//--------------------------Footer--------------------------
.row{
    text-align: inherit;
}
@import "../node_modules/bootstrap/scss/bootstrap";