@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.home-intro {
text-align: center;
margin-top: 139px;
}

html{
min-height: 100%;
position: relative;
}

footer.footer{
    position: absolute;
}